<% provide(:title, 'Contact') %>
<h1>AJ Funk</h1>
<p>
   <a href="http://www.linkedin.com/pub/aj-funk/72/b7b/b10">LinkedIn</a> <br>
  <a href="https://www.facebook.com/arUThar">Facebook</a> <br>
  <a href="https://twitter.com/AJFunk9">Twitter</a> <br>
  <a href="http://instagram.com/ajfunk">Instagram</a> <br>
  Email: AJFunk9@aol.com <br>
  (925) 360-8114
</p>